<html>
    <head>
    </head>

    <body>
        <h3> <%=name%> </h3>
        <ol>
            <% for (i=0; i<list.length; i++) { %>
            <li> <%=list[i]%> </li>
            <% } %>
        </ol>
    </body>
</html>