<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">

    </head>
    <body>
        <div class="container">
            Serving an html file
        </div>
        <script
            src="/js/jquery-3.4.1.min.js">
        </script>
            <!-- Latest compiled and minified JavaScript -->
        <script src="/js/bootstrap.min.js">
        </script>
    </body>
</html>